<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/uikit.min.css" rel="stylesheet" />
    <script src="~/Scripts/uikit.min.js"></script>
    <script src="~/Scripts/uikit-icons.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="uk-position-relative">
        <img src="~/imge/logo2.png" alt="" />
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle " uk-toggle="target: #offcanvas-flip">
                        <span style="color:red" ; uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                    </a>
                </div>
            </nav>
            <div class="uk-container">
                @RenderBody()

            </div>
        </div>

    </div>
    @*<nav class="uk-navbar uk-navbar-container uk-margin">

        </nav>*@
    <div class="uk-offcanvas-content">
        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: false">
            <div class="uk-offcanvas-bar" style="background-color:lightblue;">
                <button class="uk-offcanvas-close" style="float:left;" type="button" uk-close></button>
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#modal-overflow" class="uk-button uk-button-default" uk-toggle>Item</a></li>
                    @*<li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Item</a></li>*@
                </ul>

            </div>
        </div>
    </div>
    

    <div id="modal-overflow" uk-modal>

        <div class="uk-modal-dialog">

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Headline</h2>
            </div>
            <div class="uk-modal-body" uk-overflow-auto>

            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button">Save</button>
            </div>

        </div>
    </div>
    <script>
        UIkit.util.on("", "", function (e) {
            e.preventDefault();
            e.target.blur();

        })
    </script>
</body>
</html>